*{
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: #202020;
}

main{
    width: 70%;
}

ul{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    list-style: none;
}

img{
    width: 200px;
    height: 300px;
}

.buttonData{
    display: flex;
    gap: .5rem;
}

.deleteButton{
    padding-block: .8rem;
    padding-inline: 1.5rem;
}

.listHead{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list{
    height: 100%;
    width: 25%;
    background: #101010;
    padding: 32px;
    position: fixed;
    right: 0px;
    top: 0px;
}